# --------------------------
# Python
# --------------------------

__pycache__/
*.py[cod]
*.pyo

# --------------------------
# Virtual Environment
# --------------------------

.venv/
venv/

# --------------------------
# Generated Audio
# --------------------------

recordings/

# --------------------------
# Generated Evidence
# --------------------------

evidence/

# --------------------------
# Environment Variables
# --------------------------

.env

# --------------------------
# VS Code
# --------------------------

.vscode/

# --------------------------
# Operating System
# --------------------------

Thumbs.db
.DS_Store

# Temporary files
temp.py

# Pretrained Models
models/panns/*.pth